/* Write your code here. */
.overleague-container {
  background-color: #0f172a;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: white;
  font-family: "Roboto";
  font-size: 22px;
  text-align: center;
}
.img-container {
  display: flex;
  flex-direction: row;
}
.team-img {
  height: 150px;
}
